@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
}

html, body {
  height: 100%;
}

body {
  display: table;
  width: 100%;
  height: 100%;
  background-color: #171717;
  color: #000;
  line-height: 1.6;
  position: relative;
  font-family: sans-serif;
  overflow: hidden;
}

.lines {
  position: absolute;
  z-index: -9999;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin: auto;
  width: 90vw;
}

.line {
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  left: 50%;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
}

.line::after {
  content: '';
  display: block;
  position: absolute;
  height: 15vh;
  width: 100%;
  top: -50%;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(75%, #ffffff), to(#ffffff));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
  -webkit-animation: drop 7s 0s infinite;
          animation: drop 7s 0s infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
          animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}

.line:nth-child(1) {
  margin-left: -25%;
}

.line:nth-child(1)::after {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.line:nth-child(3) {
  margin-left: 25%;
}

.line:nth-child(3)::after {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

@-webkit-keyframes drop {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}

@keyframes drop {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}

body {
  background: -webkit-gradient(linear, right top, left top, from(#3e94ec), to(#25b7c4));
  background: linear-gradient(to left, #3e94ec, #25b7c4);
  font-family: "Roboto", Helvetica, arial, sans-serif;
  text-rendering: optimizeLegibility;
}

h3 {
  width: 600px;
  display: block;
  margin: 60px auto 30px auto;
  color: #fafafa;
  font-size: 30px;
  font-weight: 400;
  font-style: normal;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
}

tbody tr:nth-child(0) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

tbody tr:nth-child(1) {
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}

tbody tr:nth-child(2) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

tbody tr:nth-child(3) {
  -webkit-animation-delay: 0.45s;
          animation-delay: 0.45s;
}

tbody tr:nth-child(4) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

tbody tr:nth-child(5) {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

tbody tr:nth-child(6) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

tbody tr:nth-child(7) {
  -webkit-animation-delay: 1.05s;
          animation-delay: 1.05s;
}

tbody tr:nth-child(8) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

tbody tr:nth-child(9) {
  -webkit-animation-delay: 1.35s;
          animation-delay: 1.35s;
}

tbody tr:nth-child(10) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

tbody tr:nth-child(11) {
  -webkit-animation-delay: 1.65s;
          animation-delay: 1.65s;
}

tbody tr:nth-child(12) {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}

tbody tr:nth-child(13) {
  -webkit-animation-delay: 1.95s;
          animation-delay: 1.95s;
}

tbody tr:nth-child(14) {
  -webkit-animation-delay: 2.1s;
          animation-delay: 2.1s;
}

tbody tr:nth-child(15) {
  -webkit-animation-delay: 2.25s;
          animation-delay: 2.25s;
}

tbody tr:nth-child(16) {
  -webkit-animation-delay: 2.4s;
          animation-delay: 2.4s;
}

tbody tr:nth-child(17) {
  -webkit-animation-delay: 2.55s;
          animation-delay: 2.55s;
}

tbody tr:nth-child(18) {
  -webkit-animation-delay: 2.7s;
          animation-delay: 2.7s;
}

tbody tr:nth-child(19) {
  -webkit-animation-delay: 2.85s;
          animation-delay: 2.85s;
}

table {
  width: 600px;
  margin: 0 auto;
  border-collapse: collapse;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

table thead {
  border-bottom: 1px solid #444;
}

table thead th:first-child {
  border-top-left-radius: 5px;
}

table thead th:last-child {
  border-top-right-radius: 5px;
  border-right: none;
}

table tbody tr:last-child td {
  border-bottom: 0px;
}

table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 5px;
}

table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 5px;
}

table tbody tr {
  opacity: 0;
  -webkit-animation: table;
          animation: table;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: #FFF;
  border-top: 1px solid #C1C3D1;
}

table tbody tr:nth-child(odd) {
  background: #EBEBEB;
}

table tbody tr td {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

table tbody tr:hover td {
  background: #4E5066;
  color: #FFFFFF;
  border-top: 1px solid #22262e;
  border-bottom: 1px solid #22262e;
}

table th {
  font-weight: normal;
  text-align: middle;
  background: #1b1e24;
  color: #D5DDE5;
  font-weight: 100;
  font-size: 23px;
  border-bottom: 4px solid #9ea7af;
  border-right: 1px solid #343a45;
  padding: 12px;
}

table td {
  padding: 20px;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  color: #666B85;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.1);
  border-top: 1px solid #C1C3D1;
  border-bottom: 1px solid #C1C3D1;
}

table td:first-child {
  text-align: center;
}

table td:first-child:before {
  content: '';
}

@-webkit-keyframes table {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes table {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */